.login {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(45deg, #00a8be, #00d6f0);
}

.login-cont {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.login-head h1 {
    color: #fff;
    font-size: 56px;
}

.login-head p {
    font-size: 22px;
    color: #e5f7ff;
    margin: 2px;
}

.login-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.login-button {
    padding: 50px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-btn {
    font-size: 20px;
    border-radius: 15px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    background-color: #ffd26a;
}

.login-btn img {
    width: 40px;
    padding-right: 10px;
}

.login-btn p {
    padding-left: 10px;
}