.hero {
    max-width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(45deg, #00a8be, #00d6f0);

}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.nav-left,
.nav-right {
    margin: 32px 90px;
    vertical-align: middle;
}

.nav-left {
    display: flex;
    flex-direction: row;
    color: #e5f7ff;
}

.icon-decoration {
    color: #ffd26a !important;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 187px;
    height: 45px;
    background-color: #e5f7ff;
    color: #006695;
    border: 1px solid #006695;


}

a {
    color: #006695;
    text-decoration: none;
    text-align: center;
}

.hero-cont {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}

.hero-left,
.hero-right {
    max-width: 60vh;
}

.hero-left {
    min-width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-left: 10vw;
    font-size: 36px;
    color: #e5f7ff;
}

.hero-left button {
    height: 50px;
    width: 150px;
    border-radius: 10px;
    border: 1px solid #006695;
    background-color: #ffd26a;
    color: #006695;
    font-size: 16px;

}

.hero-right {
    max-height: 30vw;
}

.hero-right img {
    width: 40vw;
    box-sizing: border-box;
    animation: hero-bounce infinite 2s;
}

@keyframes hero-bounce {

    0%,
    100% {
        margin-top: 0;
        margin-bottom: 1vw;
    }

    50% {
        margin-top: 1vw;
        margin-bottom: 0;
    }
}